<nav>
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/about">About</a></li>
    <li class="breadcrumb-item"><a href="/pf">Portfolio</a></li>
    <li class="breadcrumb-item"><a href="/team">Our Team</a></li>
  </ul>
</nav>